{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Umba Timba</title>
    <link rel="shortcut icon" href="{% static 'logo/LOGO.png'%}" type="image/x-icon">
    <!-- Google Font Family Link Start -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800"
    />
    <!-- Google Font Family Link End -->

    <!-- CSS -->
    <link href="{% static 'css/iconmoon.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/cs-foodbakery-plugin.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link href="assets/css/bootstrap-slider.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- JAVASCRIPT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
   
   
   {% if '/' == request.path or 'profile' in request.path %}
   <script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}&loading=async&libraries=places&callback=initAutoComplete" defer></script>
   {% endif %}

   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>    
   <!-- Include the PayPal JavaScript SDK -->
   <script src="https://www.paypal.com/sdk/js?client-id={{PAYPAL_CLIENT_ID}}&currency=USD"></script>

   <!-- Include Datatables plugin -->
   <link rel="stylesheet" href="//cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css">
   <script src="//cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
   <script>
    let table = new DataTable('#ordersTable');
   </script>

    <style>
      body,
      .main-section p,
      .mce-content-body p {
        font: Normal 14px/24px "Open Sans", sans-serif;
        letter-spacing: 0px;
        text-transform: none;
        color: #515151 !important;
      }
    </style>
  </head>

  <body>
    <!-- LOAD HEADER HERE -->
    {% include 'includes/header.html' %}

    <!-- LOAD MAIN CONTENT HERE -->
    {% block content %}
    <!-- MAIN CONTENT GOES HERE -->
    {% endblock%}
    
    <!-- LOAD FOOTER HERE -->
    {% include 'includes/footer.html' %}
    
      